<header class="header">
  <div class="container container__header">
    <a class="logo" href="/"><img src="../images/logo.png" alt="" /></a>

    <ul class="page-nav">
      <li class="page-nav__item"><a class="page-nav__link" href="">HOME</a></li>
      <li class="page-nav__item"><a class="page-nav__link" href="">PROJECT</a></li>
      <li class="page-nav__item"><a class="page-nav__link" href="">SERVICES</a></li>
      <li class="page-nav__item"><a class="page-nav__link" href="">ABOUT</a></li>
      <li class="page-nav__item"><a class="page-nav__link" href="">BLOG</a></li>
      <li class="page-nav__item"><a class="page-nav__link" href="">SHOP</a></li>
      <li class="page-nav__item"><a class="page-nav__link" href="">CONTACT</a></li>
    </ul>
    <button class="button button__header" type="button">Sign Up</button>
  </div>
</header>
